<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="bodyHeader" style="margin-top: 15px; margin-left: 10px">

        <div class="dropdown" style="float: right; margin-right: 10px">
            <button class="btn btn-success dropdown-toggle" type="button" th:text="${memberName}"
                      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="width: 100px"></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item text-success" href="#">마이페이지</a></li>
                <li><a class="dropdown-item text-success" href="/logout">로그아웃</a></li>
            </ul>
    </div>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a id="mainHeader" class="nav-link active text-success" href="/">StudyPlanner</a>
        </li>
        <li class="nav-item">
<!--            <a class="nav-link text-secondary" th:href="@{/study-plan/{memberId}(memberId=${memberId})}">계획 등록하기</a>-->
            <a id="registrationHeader" class="nav-link text-secondary" onclick="registrationPlan()">계획 등록하기</a>
        </li>
        <li class="nav-item">
<!--            <a class="nav-link text-secondary" th:href="@{/study-plans/{memberId}(memberId=${memberId}, status=ING)}" onclick="test()">공부중인 계획들</a>-->
            <a id="ingPlansHeader" class="nav-link text-secondary" onclick="studyPlans()">공부중인 계획들</a>
        </li>
        <li class="nav-item">
<!--            <a class="nav-link text-secondary" th:href="@{/study-plans/{memberId}(memberId=${memberId}, status=COMPLETE)}">완료한 계획들</a>-->
            <a id="completePlansHeader" class="nav-link text-secondary" onclick="studyPlans()">완료한 계획들</a>
        </li>
    </ul>
</div>
</html>