<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="full-container">
    <div class="title-container">
        <h1 style="font-size: 48px" class="text-secondary">계획 등록하기</h1>
    </div>
    <div class="flex-container">

    </div>
</div>
</body>
</html>