<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div th:replace="fragments/registrationBodyHeader :: bodyHeader"></div>
<div class="full-container">
    <div class="title-container">
        <h1 style="font-size: 48px" class="text-secondary">계획 등록</h1>
    </div>
    <div class="flex-container">

        <form role="form" action="/study-plan" th:object="${studyPlan}" method="post">
            <input type="hidden" th:field="*{memberId}" id="memberId">

            <label>제목</label>
            <div class="form-group" style="width: 500px; margin-bottom: 30px">
                <input type="text" th:field="*{title}" class="form-control" placeholder="제목"
                       th:class="${#fields.hasErrors('title')}? 'form-control fieldError' : 'form-control'">
                <label class="fieldError" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></label>
            </div>

            <label>내용</label>
            <div class="form-group" style="width: 500px; margin-bottom: 30px">
                <input type="text" th:field="*{content}" class="form-control" placeholder="내용">
            </div>

            <label>목표</label>
            <div class="form-group" style="width: 500px; margin-bottom: 30px">
                <input type="text" th:field="*{completeFigure}" class="form-control" placeholder="목표량"
                       th:class="${#fields.hasErrors('completeFigure')}? 'form-control fieldError' : 'form-control'">
                <label class="fieldError" th:if="${#fields.hasErrors('completeFigure')}"
                       th:errors="*{completeFigure}"></label>
            </div>

            <label>목표달성 기간</label>
            <div class="form-group" style="width: 500px">
                <input type="date" th:field="*{expectCompleteDate}" class="form-control"
                       th:class="${#fields.hasErrors('expectCompleteDate')}? 'form-control fieldError' : 'form-control'">
                <label class="fieldError" th:if="${#fields.hasErrors('expectCompleteDate')}"
                       th:errors="*{expectCompleteDate}"></label>
            </div>

            <div style="line-height: 10vh">
                <button type="submit" class="btn btn-lg btn-success" style="width: 500px">등록</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>