<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/studyPlansBodyHeader :: bodyHeader"></div>
<div class="full-container">
    <div class="title-container">
        <h1 id="title" style="font-size: 48px" class="text-secondary">공부중인 계획들</h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">제목</th>
            <th scope="col">내용</th>
            <th scope="col">현재수치/목표수치</th>
            <th scope="col">현재 진행률</th>
            <th scope="col">목표일정까지 남은시간</th>
            <th scope="col">#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="studyplan : ${studyPlans}">
            <td th:text="${studyplan.title}"></td>
            <td th:text="${studyplan.content}"></td>
            <td th:text="|${studyplan.currentFigure} / ${studyplan.completeFigure}|"></td>
            <td th:text="|${studyplan.currentProgress}%|"></td>
            <td th:text="|${studyplan.expectCompleteRestDate}일|"></td>
            <td>
                <button href="/"
                   class="btn btn-success">상세</button>
            </td>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
<script>
    window.onload = function() {
        let status = new URL(location.href).searchParams.get('status');

        alert(status);
        alert(document.getElementById("test").innerText)
        let title = "";
        if (status == "ING") {
            title = "ING";
        } else {
            title = "COMPLETE";
        }
        document.getElementById("title").innerHTML = title;
    }
</script>
</html>