<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .fieldError {
        border-color: #bd2130;
        color: #bd2130;
    }
</style>
<body>
<div class="full-container">
    <div class="title-container">
        <h1 style="font-size: 48px" class="text-secondary">스터디 플래너</h1>
    </div>
    <div class="flex-container">
        <form role="form" action="/" th:object="${loginRequest}" method="post">

        <div class="form-floating" style="width: 500px; margin-bottom: 30px">
            <input type="email" th:field="*{email}" class="form-control" id="floatingEmail"
                   th:class="${#fields.hasErrors('email')}? 'form-control fieldError' : 'form-control'">

            <label for="floatingEmail" class="fieldError" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            <label for="floatingEmail" th:unless="${#fields.hasErrors('email')}">이메일</label>

        </div>

        <div class="form-floating" style="width: 500px">
            <input type="password" th:field="*{password}" class="form-control" id="floatingPassword"
                   th:class="${#fields.hasErrors('password')}? 'form-control fieldError' : 'form-control'">
            <label for="floatingPassword" class="fieldError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            <label for="floatingPassword" th:unless="${#fields.hasErrors('password')}">비밀번호</label>
        </div>

        <div style="line-height: 10vh">
            <button type="submit" class="btn btn-lg btn-success" style="width: 500px" href="/"> 로 그 인 </button>
        </div>

            <div style="line-height: 1vh;">
                <a style="color: #6c757d" href="/member">회원가입</a>
            </div>
        </form>
    </div>
</div>

</div>
</div>
</body>
</html>