<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"></div>
<div class="full-container">
    <div class="title-container">
        <h1 style="font-size: 48px">스터디 플래너</h1>
    </div>
    <div class="flex-container">
        <label>공부하자</label>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>