<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>스터디 플래너</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .fieldError {
        border-color: #bd2130;
        color: #bd2130;
    }
</style>
<body>
<div class="full-container">
    <div class="title-container">
        <h1 style="font-size: 48px" class="text-secondary">계획 상세</h1>
    </div>
    <div class="flex-container">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <h5 class="card-title" th:text="${studyPlanDetails.title}"></h5>
                <p class="card-text" th:text="${studyPlanDetails.content}"></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:text="|${studyPlanDetails.completeFigure}중에 ${studyPlanDetails.currentFigure}만큼 했어요|"></li>
                <li class="list-group-item" th:text="|현재 ${studyPlanDetails.currentProgress}% 진행 했어요|"></li>
                <li class="list-group-item" th:text="|목표 날짜(${studyPlanDetails.expectCompleteDate}) 까지 ${studyPlanDetails.expectCompleteRestDate}일 남았어요|"></li>
                <li class="list-group-item" th:text="|${studyPlanDetails.startDate}에 시작 했고, ${studyPlanDetails.afterStartDate}일차 에요|"></li>
                <li class="list-group-item" th:text="|하루 평균 ${studyPlanDetails.avgFigure}(${studyPlanDetails.avgProgress}%)만큼 공부했어요 |"></li>
            </ul>
            <div class="card-body">
                <a class="btn btn-success" th:href="@{/plan-transactions/{studyPlanId}(studyPlanId=${studyPlanDetails.studyPlanId})}">History 보기</a>
                <button class="btn btn-success" onclick="history.back()">뒤로 가기</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>